.bg-dark{

	background-color: #651c82 !important;
	border-color: #651c82 !important;
	color: white;

}

.bg-info{
	background-color: #ff9f1a !important;
	border-color: #cc7700 !important;
	color: white;
}


.list-group-item-info{
	background-color: #ff9f1a !important;
/*	border-color: #cc7700 !important;*/
	color: white;
}

.btn-link-comecar{
	background-color: #caa3ff !important;
	color: black;
}