{% extends "base_generic.html" %}

{% block content %}

<section id="registration" class="section registration">

    <div class="container">
        <br>
        <br>
        <br>

            <h4>Atualizar Cadastro</h4>
            
        <div class="blankdivider30">
        </div>
        <div class="cform" id="contact-form">
            {% if form_errors %}
                <p class="error-message">O seguinter campos são obrigatórios:</p>
                {% for k in form_errors %}
                    <label class="error-message">* {{ k }}</label>
                {% endfor %}
                <br><br>
            {% endif %}

            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}


            <form action="/cadastro/" method="post" class="contactForm">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input name="name" class="form-control" id="name" placeholder="Usuario" value="{{user_perfil.nome}}" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="email" id="email" placeholder="Email" value="{{user.email}}" />
                            <div class="validation"></div>
                        </div>
                        

                        <div class="form-group">
                            <select class="form-control" id="gender" name="gender" >
                                <option value="" disabled selected>Sexo</option>
                                <option value="M" {% if user.profile.gender == 'M' %}selected="selected"{% endif %}>Masculino</option>
                                <option value="F" {% if user.profile.gender == 'F' %}selected="selected"{% endif %}>Feminino</option>
                            </select>
                        </div>


                        <!-- Idiomas -->

                        {% for idioma_usuario in idiomas_usuario %}
                            <h3>
                                <span class="badge badge-secondary">{{ idioma_usuario }}</span>
                            </h3>
                        {% endfor %}

                        {% if idiomas %}
                             <div class="form-group">
                                <select class="form-control" id="idioma" name="idioma" >
                                    <option value="" disabled selected>Idiomas</option>
                                    

                                    {% for idioma in idiomas %}

                                    <option value="{{idioma}}">{{ idioma }}</option>
                                    
                                    {% endfor %}

                                </select>
                            </div>

                        {% endif %}

                        <!-- Regioes -->

                        {% for regiao_user in regioes_usuario %}
                            <h3>
                                <span class="badge badge-secondary">{{ regiao_user }}</span>
                            </h3>
                        {% endfor %}

                        {% if regioes %}
	                         <div class="form-group">
	                            <select class="form-control" id="regiao" name="regiao" >
	                                <option value="" disabled selected>Regioes</option>
	                                

                					{% for regiao in regioes %}

	                                <option value="{{regiao}}">{{ regiao }}</option>
	                            	
	                            	{% endfor %}

	                            </select>
	                        </div>

           				{% endif %}



                        <div class="form-group">
                            <input class="form-control" name="age" id="age" placeholder="Idade"
                            value="{{ user_perfil.age }}"/>
                            <div class="validation"></div>
                        </div>


                        <!-- <div class="form-group">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Senha atual" required/>
                            <div class="validation"></div>
                        </div> -->
                        <div class="form-group">
                            <input type="password" class="form-control" name="novoPassword" id="novoPassword" placeholder="Nova senha" />
                            <div class="validation"></div>
                        </div>

                        <input type="submit" value="Atualizar" class="btn btn-theme pull-left">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}