{% extends "base_generic.html" %}


{% block content %}

    	


<div class="card">
  <div class="card-header">
  	Informações -  {{ usuario.nome }}
    </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <p class="card-text">
    	{{ carteira.moedas }} moedas
    </p>

    <p class="card-text">
    	{{ carteira.pontos }} pontos
    </p>

    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>

<br/><br/>
    	<br/><br/>


<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Criar Questão</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Criar Região</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Log de Respostas</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

  	<br/>

  	<!-- form enviar questao -->
  	<!-- =================  -->

  	<form action="/fabrica/" method="post" class="form-inline">
    {% csrf_token %}
	<div class="card text-center w-100">
		<div class="card-body">
			<span class="card-title">

				{% if regioes %}

					<select class="form-control w-100" name="regiaoFormControlSelectQuestao" id="regiaoFormControlSelectQuestao">

						{% for regiao in regioes %}
							<option value="{{ regiao }}">{{ regiao }}</option>

						{% endfor %}

					</select>

				{% endif %}

				<br/>

	<br/>

				<div class="form-group w-100">
				    <select class="form-control w-100" id="categoriaFormControlSelect" name="categoriaFormControlSelect">
				      <option value="Artes">Artes</option>
				      <option value="Ciencias">Ciencias</option>
				      <option value="Cotidiano">Cotidiano</option>
				      <option value="Esportes">Esportes</option>
				      <option value="Geografia">Geografia</option>
				      <option value="Historia">Historia</option>
				    </select>
				  </div>
<!-- ("0", "Artes"),
		("1", "Ciencias"),
		("2", "Cotidiano"),
		("3", "Esportes"),
		("4", "Geografia"),
		("5", "Historia"), -->
			</span>

			<br/>

			
		<input type="text" class="form-control card-text w-100" name="textoPerguntaQuestao" id="textoPerguntaQuestao" placeholder="Pergunta da Questão">

		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<input type="text" class="form-control card-text w-100" name="textoRespostaCorreta" id="textoRespostaCorreta" placeholder="Resposta Correta">
			</li>
			<li class="list-group-item">
				<input type="text" class="form-control card-text w-100" name="textoRespostaErrada1" id="textoRespostaErrada1" placeholder="Resposta Errada">
			</li>
			<li class="list-group-item">
				<input type="text" class="form-control card-text w-100" name="textoRespostaErrada2" id="textoRespostaErrada2" placeholder="Resposta Errada">
			</li>
			<li class="list-group-item">
				<input type="text" class="form-control card-text w-100" name="textoRespostaErrada3" id="textoRespostaErrada3" placeholder="Resposta Errada">
			</li>
		</ul>

		<div class="card-body">
			
			<button type="submit" class="btn btn-primary mb-2">Criar Questão</button>

		</div>
	</div>

	</form>

	<br/>

	<hr/>
	Questões criadas pelo usuario:

	<br/>
	<br/>


	{% if  questoes %}

		{% for questao in questoes %}


		<!-- ("0", "Artes"),
		("1", "Ciencias"),
		("2", "Cotidiano"),
		("3", "Esportes"),
		("4", "Geografia"),
		("5", "Historia"), -->

			<div class="card

				{% if questao.3 == '0' %}
					bg-danger
				{% elif questao.3 == '1' %}
					bg-success
				{% elif questao.3 == '2' %}
					bg-dark
				{% elif questao.3 == '3' %}
					bg-info
				{% elif questao.3 == '4' %}		
					bg-primary
				{% elif questao.3 == '5' %}
					bg-warning
				{% endif %}

			">



				<div class="card-body">

				{{ questao.0 }} 
				<br/>
				<br/>

				<ul class="list-group list-group-flush">

				{% for resposta in questao.1 %}


					{% if resposta == questao.2 %}

					<li class="list-group-item d-flex justify-content-between align-items-center

					
					{% if questao.3 == '0' %}
						list-group-item-danger
					{% elif questao.3 == '1' %}
						list-group-item-success
					{% elif questao.3 == '2' %}
						list-group-item-dark
					{% elif questao.3 == '3' %}
						list-group-item-info
					{% elif questao.3 == '4' %}
						list-group-item-primary
					{% elif questao.3 == '5' %}
						list-group-item-warning

					{% endif %}

					">
						{{ resposta }}

						<span class="badge badge-primary badge-pill">Correta</span>
					</li>



					{% else %}

					<li class="list-group-item

					{% if questao.3 == '0' %}
						list-group-item-danger
					{% elif questao.3 == '1' %}
						list-group-item-success
					{% elif questao.3 == '2' %}
						list-group-item-dark
					{% elif questao.3 == '3' %}
						list-group-item-info
					{% elif questao.3 == '4' %}
						list-group-item-primary
					{% elif questao.3 == '5' %}
						list-group-item-warning

					{% endif %}

					">
						{{ resposta }}
					</li>

					{% endif %}

				{% endfor %}

				</ul>

				</div>
				

				<div class="card-body">
					
					Criada em {{ questao.4 }}

				</div>


			</div>

	<br/>

		{% endfor %}



	{% endif %}


	<br/>

</div>

 <!-- form enviar regiao -->
 <!-- ===================== -->

  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

  	<br/>


  	<form action="/fabrica/" method="post" class="form-inline">
    {% csrf_token %}

		<div class="form-group mx-sm-3 mb-2">
		<label for="nomeDaRegiao" class="sr-only">Nome da Região</label>
		<input type="text" class="form-control" name="nomeDaRegiao" id="nomeDaRegiao" placeholder="Nome da Região">
		</div>
		<button type="submit" class="btn btn-primary mb-2">Criar Região</button>
	

	Selecione a região em que a nova região pertence: 
	<br/>
	<br/>


	{% if regioes %}

		<select class="form-control" name="regiaoFormControlSelect" id="regiaoFormControlSelect">

			{% for regiao in regioes %}
				<option value="{{ regiao }}">{{ regiao }}</option>

			{% endfor %}

		</select>


    </form>

	{% endif %}


  </div>





  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
  	

  	Ainda nao implementado?
  	<br/>
  	<br/>
  	{% if logs %}

  		<ul class="list-group list-group-flush">
  		{% for log in logs %}

  			<li class="list-group-item">
  				{% if log.aberta %}
  					<a href="/partida/{{log.id}}">Partida: {{ log.id }}</a>
  				{% else %}
  					Partida: {{ log.id }}
  				{% endif %}
  			</li>

  		{% endfor %}

  		</ul>

  	{% endif %}



  </div>
</div>


<!-- <ul class="list-group">
	<li class="list-group-item d-flex justify-content-between align-items-center">
		Criar Questão
	<span class="badge badge-primary badge-pill">14</span>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center">
		Criar Região
	<span class="badge badge-primary badge-pill">2</span>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center">
		Log de Questões
	<span class="badge badge-primary badge-pill">1</span>
	</li>
</ul> -->

{% endblock %}
