{% extends "base_generic.html" %}


{% block content %}

    	


<div class="card">
  <div class="card-header">
  	Informações -  {{ usuario.nome }}
    </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <p class="card-text">
    	{{ carteira.moedas }} moedas
    </p>

    <p class="card-text">
    	{{ carteira.pontos }} pontos
    </p>

    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>

<br/><br/>


	<div class="container">
		<div class="row">
			
			<div class="col-md">




			<div class="card">
				<div class="card-header">
					Jogo rapido
				</div>

				<form action="/nova_partida/"
				method="post" class="novaPartidaForm form-inline">
                {% csrf_token %}


					<div class="card-body">
					

					Idioma:
					<input type="text" readonly class="form-control-plaintext" name="idioma" id="idioma" value="{{ idiomaUser }}">

					Regiao:
					<input type="text" readonly class="form-control-plaintext" name="regiao" id="regiao" value="{{ regiaoUser }}">

					<button type="submit" class="btn btn-primary mb-2" name="preco" value="100">100 moedas</button>
					
					<button type="submit" class="btn btn-primary mb-2" name="preco" value="500">500 moedas</button>
					
					<button type="submit" class="btn btn-primary mb-2" name="preco" value="1000">1000 moedas</button>

					<button type="submit" class="btn btn-primary mb-2" name="preco" value="5000">5000 moedas</button>
					
					<button type="submit" class="btn btn-primary mb-2" name="preco" value="10000">10000 moedas</button>

				</form>

			</div>

			</div>

			<br/><br/>
			<hr/>

			<h2>Jogo customizado</h2>
			<hr/>


			<form action="/nova_partida/"
				method="post" class="novaPartidaForm">
                {% csrf_token %}

			<div class="form-group">
				<label for="idiomaFormControlSelect">Selecione o Idioma</label>
				<select class="form-control" id="idiomaFormControlSelect">

					{% for idioma in idiomas %}
						<option value="{{ idioma }}">
							{{ idioma }}
						</option>
					{% endfor %}


				</select>
			</div>

			<br/>
			<br/>
			<div class="form-group">
				<label for="regiaoFormControlSelect">Selecione a Regiao</label>
				<select class="form-control" id="regiaoFormControlSelect">

					{% for regiao in regioes %}
						<option value="{{ regiao }}">
							{{ regiao }}
						</option>
					{% endfor %}
				</select>
			</div>


			<ul class="list-group">
				
				<li class="list-group-item">
					<button type="submit" class="btn btn-primary" name="preco" value="100">CUSTO_PEQUENO 100 moedas</button>
				</li>

				<li class="list-group-item">
					<button type="submit" class="btn btn-primary" name="preco" value="500">CUSTO_MEDIO 500 moedas</button>
				</li>

				<li class="list-group-item">
					<button type="submit" class="btn btn-primary" name="preco" value="1000">CUSTO_GRANDE 1000 moedas</button>
				</li>

				<li class="list-group-item">
					<button type="submit" class="btn btn-primary" name="preco" value="5000">CUSTO_ENORME 5000 moedas</button>
				</li>

				<li class="list-group-item">
					<button type="submit" class="btn btn-primary" name="preco" value="10000">CUSTO_ABSURDO 100 moedas</button>
				</li>

			</ul>

			</form>





			</div>
		</div>
	</div>


	<br/>
	<br/>
	<br/>

{% endblock %}
