{% extends "base_generic.html" %}


{% block content %}


    
        <br/><br/>

        <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Ola Jogador</h1>
    <p class="lead">Somos uma equipe pequena de dois estudantes.</p>
    <p class="lead">Estamos trabalhando para deixar o jogo com qualidade tanto visual quanto todas as outras qualidades que um jogo precisa, desde jogabilidade até game design.</p>
    <p class="lead">Pelo caminho, temos algumas dificuldades, desde financeira quanto de tempo.</p>

    <hr/>

    <p class="lead">Se voce se interessou por algo e deseja entrar em contato, por favor use o formulario a seguir ou entre em contato com o email no final da pagina.</p>

    <hr/>

    <p class="lead">Versao atual: Alpha SemiOpen.</p>

  </div>
</div>

    	<br/><br/>
        Entre em contato conosco
    	<br/><br/>


    <form action="/contato/" method="post" class="form-inline">
    {% csrf_token %}

  <!-- <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
  </div> -->
  <br/>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Selecione o motivo</label>
    <select class="form-control" name="motivo" id="motivo">
        
        <option>
            Sugestão
        </option>
        <option>
            Reclamação
        </option>
        <option>
            Outros
        </option>
    
    </select>
    </div>


    <div class="form-group">
    <label for="exampleFormControlTextarea1">Digite sobre o seu contato</label>
    <textarea class="form-control" name="texto_enviado_pelo_user" id="texto_enviado_pelo_user" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        Entrar em contato
    </button>

</form>


<br/><br/>

<span>
    triviaworldleague@gmail.com
</span>
<br/>
<a href="https://www.facebook.com/groups/201771354071910/">Facebook</a>
<br/>
<a href="https://twitter.com/triviawl">Twitter</a>




<br/>
<br/>
<br/>
<br/>
<br/>

{% endblock %}
