{% extends "base_generic.html" %}


{% block content %}

    	<br/><br/>
        Entre em contato conosco
    	<br/><br/>


    <form action="/contato/" method="post" class="form-inline">
    {% csrf_token %}

  <!-- <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
  </div> -->
  <br/>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Selecione o motivo</label>
    <select class="form-control" name="motivo" id="motivo">
        
        <option>
            Sugestão
        </option>
        <option>
            Reclamação
        </option>
        <option>
            Outros
        </option>
    
    </select>
    </div>


    <div class="form-group">
    <label for="exampleFormControlTextarea1">Digite sobre o seu contato</label>
    <textarea class="form-control" name="texto_enviado_pelo_user" id="texto_enviado_pelo_user" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary mb-2">
        Entrar em contato
    </button>

</form>


<br/><br/>

<span>
    triviaworldleague@gmail.com
</span>

{% endblock %}
