<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% load staticfiles %}
        {% load static %}
        <meta charset="utf-8">
        <title>Triviando</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% static 'bootstrap-4/css/bootstrap.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    </head>
    <body>



        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Triviamente Triviado</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                        {% if user.is_authenticated %}
                            

                            {% if request.user.is_superuser %}
                                <li class="nav-item"><a class="nav-link" href="/admin/">ADMIN</a></li>
                            {% endif %}


                            <!-- pagina do perfil -->
                            <li class="nav-item"><a class="nav-link" href="/#/">
                                {{ user.user.nome }}
                            </a></li>


                            <li class="nav-item"><a class="nav-link" href="/#/">
                                Loja
                            </a></li>

                            <li class="nav-item"><a class="nav-link" href="/contato">
                                Contato
                            </a></li>




                            <!-- <li role="separator" class="divider nav-item" ></li> -->

                            <li class="nav-item"><a class="nav-link" href="/logout/">Sair</a></li>
                                

                           
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="/login/">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="/signup/">Cadastro</a></li>
                        {% endif %}


            </ul>

            
          </div>
        </nav>


        <div class="container">
            <div class="row">
                <div class="col">
                    AD?
                </div>
                <div class="col-6">
                
                    {% block content %}
                    {% endblock %}

                </div>
                <div class="col">
                    AD?
                </div>
            </div>
        </div>

        

    </body>
    <script src="{% static 'bootstrap-4/js/bootstrap.js' %}"></script>
</html>





